# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Unity
Unity_DeepLearning/Library/
Unity_DeepLearning/Temp/
Unity_DeepLearning/Logs/
Unity_DeepLearning/obj/
Unity_DeepLearning/UserSettings/

# OS / temporary files
.DS_Store
Thumbs.db
:memory:.ses

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Environment variables / secrets
.env
.env.*
